Автотесты для тестирования книжного интерне-магазина "Лабиринт"
Окружение:Google Chrome Версия 102.0.5005.115 (Официальная сборка), (64 бит)

pytest
pytest-selenium
termcolor
allure-python-commons






